/* LINK SLIDE LEFT*/

@keyframes slideLeftOut {
  to {
    transform: translateX(-100vw) translateZ(0);
  }
}

@keyframes slideLeftIn {
  from {
    transform: translateX(100vw) translateZ(0);
  }
  to {
    transform: translateX(0) translateZ(0);
  }
}

/* LINK SLIDE RIGHT */

@keyframes slideRightOut {
  to {
    transform: translateX(100vw) translateZ(0);
  }
}

@keyframes slideRightIn {
  from {
    transform: translateX(-100vw) translateZ(0);
  }
  to {
    transform: translateX(0) translateZ(0);
  }
}

/* LINK SLIDE UP */

@keyframes slideUpOut {
  to {
    margin-top: -100%;
  }
}

@keyframes slideUpIn {
  from {
    margin-top: 100vh;
  }
  to {
    margin-top: 0;
  }
}

/* LINK SLIDE DOWN */

@keyframes slideDownOut {
  to {
    margin-top: 100%;
  }
}

@keyframes slideDownIn {
  from {
    margin-top: -100vh;

  }
  to {
    margin-top: 0;
  }
}

/* LINK COVER LEFT */

@keyframes coverLeftOut {
  to {
    transform: translateX(-25vw) translateZ(0);
  }
}

@keyframes coverLeftIn {
  from {
    transform: translateX(100vw) translateZ(0);
  }
  to {
    transform: translateX(0) translateZ(0);
  }
}

/* LINK COVER RIGHT */

@keyframes coverRightOut {
  to {
    transform: translateX(25vw) translateZ(0);
  }
}

@keyframes coverRightIn {
  from {
    transform: translateX(-100vw) translateZ(0);
  }
  to {
    transform: translateX(0) translateZ(0);
  }
}

/* LINK FADE */

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}


/* LINK FADE UP */

@keyframes fadeUpOut {
  to {
    margin-top: -200px;
    opacity: 0;
  }
}

@keyframes fadeUpIn {
  from {
    margin-top: 200px;
    opacity: 0;
  }
  to {
    margin-top: 0;
    opacity: 1;
  }
}

/* LINK FADE DOWN */

@keyframes fadeDownOut {
  to {
    margin-top: 200px;
    opacity: 0;
  }
}

@keyframes fadeDownIn {
  from {
    margin-top: -200px;
    opacity: 0;
  }
  to {
    margin-top: 0;
    opacity: 1;
  }
}

